<div class="table-responsive">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Posted On</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let job of listOfJobs | async; let i = index;">
        <tr>
          <th scope="row">{{i}}</th>
          <td>{{job.title}}</td>
          <td>{{job.description}}</td>
          <td>{{job.postedOn|date:'short'}}</td>
          <td><button type="button" class="btn btn-primary" (click)="applyForJob(job._id)">apply</button></td>

        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
