.test2{
  -moz-column-count: 2;
  -moz-column-gap: 50px;
  -webkit-column-count: 2;
  -webkit-column-gap: 50px;
  column-count: 2;
  column-gap: 50px;
}
#page-content-wrapper {
  margin-top: 2vw;
  margin-left: 5vw;
  color: rgb(94, 93, 93);
}
